week3_2-Flow[[:space:]]Control.ipynb filter=lfs diff=lfs merge=lfs -text
week4-Functions.ipynb filter=lfs diff=lfs merge=lfs -text
week5-Lists.ipynb filter=lfs diff=lfs merge=lfs -text
week2_1[[:space:]]and[[:space:]]week[[:space:]]2_2[[:space:]].ipynb filter=lfs diff=lfs merge=lfs -text
week3_1-Flow[[:space:]]Control.ipynb filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
individual_project_sample/alikhanov_jumabek[[:space:]]-[[:space:]]individual[[:space:]]project[[:space:]]documentation[[:space:]](1).docx filter=lfs diff=lfs merge=lfs -text
2022-11-17-11-01-29.png filter=lfs diff=lfs merge=lfs -text
2022-11-22-20-14-07.png filter=lfs diff=lfs merge=lfs -text
2022-11-22-13-58-39.png filter=lfs diff=lfs merge=lfs -text
2022-09-12-14-12-56.png filter=lfs diff=lfs merge=lfs -text
2022-10-02-11-57-37.png filter=lfs diff=lfs merge=lfs -text
2022-11-17-11-05-18.png filter=lfs diff=lfs merge=lfs -text
2022-11-22-13-36-07.png filter=lfs diff=lfs merge=lfs -text
2022-11-22-20-50-46.png filter=lfs diff=lfs merge=lfs -text
2022-11-25-16-43-09.png filter=lfs diff=lfs merge=lfs -text
2022-11-17-11-08-10.png filter=lfs diff=lfs merge=lfs -text
2022-11-22-13-46-42.png filter=lfs diff=lfs merge=lfs -text
2022-11-15-11-47-29.png filter=lfs diff=lfs merge=lfs -text
2022-11-22-13-50-43.png filter=lfs diff=lfs merge=lfs -text
2022-11-22-20-16-30.png filter=lfs diff=lfs merge=lfs -text
2022-11-25-16-33-17.png filter=lfs diff=lfs merge=lfs -text
2022-09-12-14-25-03.png filter=lfs diff=lfs merge=lfs -text
2022-10-02-11-57-59.png filter=lfs diff=lfs merge=lfs -text
2022-11-15-12-10-41.png filter=lfs diff=lfs merge=lfs -text
2022-11-17-10-16-35.png filter=lfs diff=lfs merge=lfs -text
2022-11-17-10-34-05.png filter=lfs diff=lfs merge=lfs -text
2022-11-22-21-30-14.png filter=lfs diff=lfs merge=lfs -text
2022-09-12-14-09-14.png filter=lfs diff=lfs merge=lfs -text
2022-11-17-10-14-01.png filter=lfs diff=lfs merge=lfs -text
2022-11-17-10-09-45.png filter=lfs diff=lfs merge=lfs -text
2022-11-17-10-56-03.png filter=lfs diff=lfs merge=lfs -text
2022-11-22-13-48-09.png filter=lfs diff=lfs merge=lfs -text
2022-11-25-16-52-41.png filter=lfs diff=lfs merge=lfs -text
empty_tictactoe.png filter=lfs diff=lfs merge=lfs -text
2022-10-07-00-51-38.png filter=lfs diff=lfs merge=lfs -text
2022-11-17-10-07-26.png filter=lfs diff=lfs merge=lfs -text
